body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    background-color: #69D2E7;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position:top center;
    background-attachment:fixed;    /* delete this line if you don't want the ue background to be fixed */
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-weight:bold;
}
h1 { 
    font-size:60px;
    color:#fa6900;
    text-transform:uppercase;
}
h2 { 
    font-size:34px;
    color:#fa6900;
}
h3 { 
    font-size:30px;
    color:#f38630;
    text-transform:uppercase;
}
h4 { 
    font-size:28px;
    color:#333;
}
h5 { 
    font-size:22px;
    color:#333;
    font-weight:300;
}
sup, sub {
    font-size: 16px;
    padding-bottom: 10px;
}
sub {
    padding-top: 10px;
}

/* MAIN CONTAINER */
#container, #bottom_container {
    background-color: #e0e4cc;  /* COLOR OF CONTAINER */
    width: 930px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding:20px 0 20px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#container {
    min-height:500px;
    margin-top: 40px;
}
#bottom_container {
    min-height:200px;
}
.separator {
    clear: both;
    background:url('../img/separator.gif') repeat-x left center;
    height:40px;
    width:900px;
}
#myname {
    color: #008C00;
}
#subtitle {
    color: #00457B;
}
#photo {
    float:left;
    background:url('../img/bg_photo_btm.png') no-repeat center bottom;
    padding-bottom:16px;
}
#photo img { border:5px solid white; }

#right_header {
    width:745px;
    float:right;
}

/* SKILLS */
#resume_skills {
    width: 900px;
}
.skills {
    list-style: none;
    margin-top: 5px;
}
.skills li {
    margin-bottom:15px; 
    background:#D5D5D5; 
    height:20px; 
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px; 
    box-shadow:0px 1px 1px 0px inset;
    -moz-box-shadow: 0px 1px 1px 0px inset;
    -webkit-box-shadow: 0px 1px 1px 0px inset;
}

.skills li span {
    background: #333; 
    width: 360px;
    height:19px; 
    float: left;
    display: inline-block;
    margin:1px 0 0 0;
    position:absolute;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.skills li em { 
    position:relative; 
    color:#ffffff;
    font-family: 'Voces', arial, serif;
    font-size:13px;
    padding:9px 0 3px 8px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
    height: 19px;
    letter-spacing: 1px;
}

#resume_skills h2 {
    background-color: #EB7A6B;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#resume_skills .item {
    border-color: #EB7A6B;
}

#objectives {
    margin-right: 30px;
}
#objectives h2 {
    background-color: #A135E3;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#objectives .item {
    border-color: #A135E3;
}

#work_experience h2 {
    background-color: #35D1E4;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#work_experience .item {
    border-color: #35D1E4;
}
#education h2 {
    background-color: #EE7BD2;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#education .item {
    border-color: #EE7BD2;
}
#projects h2 {
    background-color: #E4B535;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#projects .item {
    border-color: #E4B535;
}
#seminar_cause h2 {
    background-color: #81B02F;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#seminar_cause .item {
    border-color: #81B02F;
}
#achievements h2 {
    background-color: #395682;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#achievements .item {
    border-color: #395682;
}
#miscellaneous h2 {
    background-color: #E13934;
    color: #000;
    text-shadow: 1px 1px #ddd;
}
#miscellaneous .item {
    border-color: #E13934;
}

/* MAIN & SOCIAL ICONS PANELS */
.social_panel {
    float:right;
    background:#a7dbd8;
    padding:8px 30px 8px 8px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.social_panel li {
    float:left;
    margin-right:8px;
}
.main_panel {
    float:right;
    background:#a7dbd8;
    padding:8px;
    margin-right:20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.main_panel li {
    float:left;
    margin-right:8px;
}
.social_panel li.last,
.main_panel li.last {
    margin:0;
}

/* INFO LIST */
.top_data {
    margin-top:20px;
    float: left;
}
ul.info {
    clear:right;
    float: left;
    width:490px;
}
ul.info li {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:22px;
    color:#333;
    font-weight:bold;
    display:inline-block;
    padding-left:25px;
    margin-top:7px;
    margin-right:7px;
    width:auto;
    float:left;
    height:25px;
}
ul.info li a {
    margin:0;
    text-decoration:none;
    color:#333;
    height: 25px;
}
ul.info li a:hover {
    text-decoration:none;
    color:#000;
}

ul.info li.phone {
    background:url('../img/cellphone.gif') no-repeat left center;
}
ul.info li.birthday {
    background:url('../img/birthday.png') no-repeat left center;
}
ul.info li.info {
    background:url('../img/man.gif') no-repeat left center;
}
ul.info li.email {
    background:url('../img/mail.gif') no-repeat left center;
}
ul.info li.address {
    background:url('../img/home.gif') no-repeat left center;
}
ul.info li.website {
    background:url('../img/pointer.gif') no-repeat left center;
}
ul.info li.status_availae {
    background:url('../img/check.gif') no-repeat left center;
}
ul.info li.status_notavailae {
    background:url('../img/bstop.gif') no-repeat left center;
    color:#333;
}
.quote {
    float: left;
    width:244px;
}

blockquote {
    background: url("../img/qoute.png") no-repeat scroll left top #EEE;
    font: 18px 'Yanone Kaffeesatz', arial, serif;
    margin-bottom: 30px;
    padding-left: 30px;
    margin:5px;
    text-shadow: 0 1px 1px #FFFFFF;
    quotes:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



/* CONTENT */
.main_content h2 {
    background: #A7DBD8;
    padding: 5px;
}
.left_content, .right_content {
    width: 435px;
    float: left;
}
.left_content {
    margin-right:30px;
}
.not_top {
    margin-top: 20px;
}
.item .not_top {
    margin-top: 10px;
}
.left_item, .right_item {
    width: 217px;
    float: left;
}

.item {
    padding:0px 10px;
    border-left:8px solid #a7dbd8;
    margin-top:10px;
    padding-right:0px;
}
.item h4 span {
    float:right;
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:22px;
    color:#333;
    font-weight:600;
    margin-right:0px;
    background:#ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:3px 5px;
}
.item h4 span:hover {
    background:#f38630;
}
#work_experience #projects .item h4 span {
    font-size:18px;
}
.item h5 {
    margin:5px 0;
}
.item p {
    font-size:1.1em;
    font-family: 'Voces', arial, serif;
    color:#333;
    line-height:1.4em;
    text-align:justify;
}


/* PORTFOLIO */

#portfolio li {
    width:281px;
    float:left;
}
#portfolio li.print {
    margin:0 28px;
}
#portfolio li h4 {
    color:#fa6900;
}
#portfolio li ul {
    margin:10px 0;

}
#portfolio li ul li {
    float:left;
    margin-right:13px;
    margin-bottom:13px;
    width:85px;
}
#portfolio li ul li.last {
    margin-right:0px;
}
#portfolio li ul li a {
    display:inline-ock;
    border:3px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#portfolio li ul li a:hover {
    border:3px solid #000;
}

/* CONTACT FORM */
#contact_form {
    float: left;
    width:500px;
}
#contact_form label {
    float:left;
    width:60px;
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:22px;
}
#contact_form label span {
    color:#f38630;
    font-size:18px;
}
#contact_form input.text_field {
    float:left;
    width:140px;
    background:#fff;
    border:1px solid #25A1D9;
    font-size:11px;
    color:#333;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#contact_form input.text_field:focus {
    border:1px solid #13536F;
}
#contact_form textarea {
    width:258px;
    height:52px;
    background:#fff;
    border:1px solid #25A1D9;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#333;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#contact_form textarea:focus {
    border:1px solid #13536F;
}
#contact_form input#submit {
    border:1px solid #25A1D9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
    background:#1E83B1;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,160,217)), color-stop(0.93, rgb(19,83,111)));
    background:-moz-linear-gradient( center bottom, rgb(37,160,217) 0%, rgb(19,83,111) 93%);
    padding:4px;
    font-size:11px;
    cursor:pointer;
    float:right;
}
#contact_form input#submit:hover {
    border:1px solid #13536F;
}
#contact_form input#submit:focus {
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(19,83,111)), color-stop(0.93, rgb(37,160,217)));
    background:-moz-linear-gradient( center bottom, rgb(19,83,111) 0%, rgb(37,160,217) 93%);
}

#contact_form #contactme .error-input ,
#contact_form #contactme .error-both input,
#contact_form #contactme .error-same input { 
    border:1px solid #f38630;
}
#contact_form #contactme .error-div {
    color:#333;
    font-size:11px;
    float:left;
    padding-top:4px;
}
.confirmation {
    color:#333;
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:22px;
    padding-top:10px;
}

#contact_form #contactme .error-same, #contact_form #contactme .error-both { color:#f00; }

/* MISC INFO */
#misc {
    float: left;
    width: 400px;
}
#misc ul {
    width:380px;
    padding-right:20px;
    margin-top:5px;
}
#misc ul li {
    padding-bottom:2px;
    border-bottom:1px solid #25A1D9;
    line-height:1.5em;
}

/* BACK TO TOP BUTTON */
#backtoptop {
    width:930px;
    margin:0px auto 40px auto;
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size:22px;
    color:#333;
    font-weight:600;
    text-decoration: none;
    display:ock;
    text-align:right;
    background:url('../img/back_to_top_arr.png') no-repeat right center;
    padding-right:30px;
}
#backtoptop:hover {
    color:#000;
}